#map {
    height: 400px;
    width: 100%;
    background-color: #aad3df;
    position: relative;
}

#zoom_to_points {
    position: absolute;
    width: 114px;
    height: 40px;
    background-color: #4831D4;
    bottom: 20px;
    left: 20px;
    z-index: 900;
    border: 2px solid #CCF381;
    color: #CCF381;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
